<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    </head>
    <body>
        <h1 style="text-align:center">Demo</h1>
        <form class="p-3 text-center" action='/',method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" name="videofile">
        <a href='index.html'><input class="btn btn-primary at-3"type="button" value="Predict video"></a>
    </body>
</html>